.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;

  img {
    margin: 1rem 0;
  }

  .main-image {
    width: 100vw;
    height: 584px;
    object-fit: cover;
  }

  .post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
    padding: 1rem;
    width: 100vw;
    height: 100%;

    .sticky-container {
      position: absolute;
      top: 50px;
      right: 10%;
      height: 100%;

      .sticky-container__inner {
        position: sticky;
        top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;

        .sticky-button {
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          border: 1px solid #505050;
          color: #505050;
          width: 60px;
          height: 60px;
          margin-bottom: 1rem;

          box-shadow: 10px 10px 58px -22px rgba(0, 0, 0, 0.75);
          -webkit-box-shadow: 10px 10px 58px -22px rgba(0, 0, 0, 0.75);
          -moz-box-shadow: 10px 10px 58px -22px rgba(0, 0, 0, 0.75);
        }

        button:first-child,
        button:nth-child(2) {
          background-color: #fff;
        }

        button:nth-child(4),
        button:last-child {
          background-color: #f7f9fa;
        }

        hr {
          width: 60px;
        }

        img {
          width: 100vw;
          height: 25vh;
          object-fit: cover;
        }
      }
    }

    .content {
      width: 720px;
    }

    h2 {
      font-size: 2.5rem;
    }

    h3 {
      font-size: 2rem;
      margin-bottom: 1rem;
      color: #35c5f0;
    }

    button {
      width: 127px;
      height: 40px;
    }

    p {
      font-size: 16px;
      margin-bottom: 5rem;
    }

    img {
      border-radius: 1rem;
      width: 100vw;
      height: 45vh;
      object-fit: cover;
    }

    .warning {
      object-fit: fill;
      width: 100%;
      height: 25vh;
    }

    .information-user {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 0;
      margin-bottom: 1rem;
      width: 100%;
      border-bottom: 1px solid #505050;

      .information-user__profile {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 250px;
        height: 40px;

        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          margin-right: 1rem;
        }

        div {
          display: flex;
          flex-direction: column;
        }
      }
    }

    .information-post {
      span {
        display: inline-block;
        margin: 1rem;
        color: #505050;
      }
    }

    .comment__title-box {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 300px;
      height: 50px;
      margin-bottom: 1rem;

      .title-box__title {
        font-size: 1.5rem;
      }

      .title-box__count {
        display: flex;
        margin-left: 1rem;
        font-size: 1.5rem;
        color: #35c5f0;
      }
    }

    .comment__text {
      margin-bottom: 2rem;
    }

    .user__profile {
      display: flex;
      align-items: center;

      img {
        width: 40px;
        height: 40px;
        border: 50%;
        margin-right: 1rem;
      }
    }

    .user__action {
      margin-bottom: 3rem;

      span {
        margin: 1rem;
      }
    }
  }
}
