@import '../../../css/_mixin.scss';

.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1rem 1rem 0;
  padding: 0.5rem;
  border-radius: 1rem;

  width: 300px;
  height: 350px;
  text-overflow: ellipsis;
  cursor: pointer;
  transition: 1s all;

  .article__image-box {
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
    overflow: hidden;
  }

  .article__image-box img {
    border-radius: 1rem;
    height: 200px;
    width: 300px;
    object-fit: cover;
    transition: 1s all;
  }

  .article__image-box img:hover {
    transform: scale(1.1);
  }

  .article__image-box div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    backdrop-filter: blur(35px);
    background-color: #fff;
    border-radius: 50%;
  }

  strong {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5e5e5ee3;
    border-radius: 1rem;
  }

  .information__title {
    padding: 0rem 1rem;
    width: 300px;
  }

  .information {
    display: flex;
    justify-content: flex-start;
    padding: 0rem 1rem;
    align-items: center;
    width: 300px;
    height: 50px;
  }

  .information span {
    margin: 1rem;
  }
}

.article:hover {
  background-color: #b4b4b459;
}

@include mobile {
  .articles__title-box {
    margin-bottom: 2rem;
    h3 {
      margin: 0;
      font-size: 20px;
    }
    p {
      margin: 0;
      font-size: 14px;
    }
  }

  .article__image-box {
    width: 100w;
    height: 100vh;

    img {
      width: 100%;
    }
  }
}
