@import '../../../css/_mixin.scss';

.swiper {
  width: 269px;
  height: 508px;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 10px -1px 34px -139px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px -1px 34px -139px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px -1px 34px -139px rgba(0, 0, 0, 0.75);
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  object-fit: cover;
  width: 269px;
  height: 508px;
  border-radius: 10px !important;
}

.swiper-button-prev,
.swiper-button-next {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #fff;
  color: #333;
  font-size: 10px;
  box-shadow: -4px 4px 44px -9px rgba(0, 0, 0, 0.51);
  -webkit-box-shadow: -4px 4px 44px -9px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: -4px 4px 44px -9px rgba(0, 0, 0, 0.51);
  transition: 1s all;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 20px;
}

@include mobile {
  .swiper {
    width: 343px !important;
    height: 98px !important;

    .swiper-slide img {
      width: 343px !important;
      height: 98px !important;
      object-fit: cover;
    }
  }
}
