.home__footer {
  display: flex;
  justify-content: flex-start;
  margin-top: 2rem;
  background-color: #f8f9fa;
  width: 100vw;
  padding: 0 60px;
  font-size: 14px;
  .footer__container {
    width: 1256px;
    padding: 40px 90px 0 90px;

    .customer-service-center {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;

      .center__contact {
        strong {
          font-size: 17px;
        }

        p {
          margin: 0;
        }

        ul {
          margin: 0;
          padding: 0;
        }
      }

      .center__contact-nav {
        display: flex;
        flex-direction: column;

        .nav__link {
          border: 1px solid #bac4ce;
          border-radius: 5px;
          width: fit-content;
          padding: 5px;
          margin-bottom: 10px;
        }
      }
    }
  }
}
