@import "../../../css/_mixin.scss";

.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  //margin: 0 1rem 1rem 0;
  //padding: 0.5rem;
  border-radius: 4px;

  width: 265px;
  height: 279px;
  text-overflow: ellipsis;
  cursor: pointer;
  transition: 1s all;

  .article__image-box {
    position: relative;
    overflow: hidden;
    overflow: hidden;
  }

  .article__image-box img {
    border-radius: 10px;
    height: 170px;
    width: 265px;
    object-fit: cover;
    transition: 1s all;
  }

  .article__image-box img:hover {
    transform: scale(1.1);
  }

  .article__image-box .image-box__like {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    font-size: 30px !important;
    background-color: #f5f5f5;
    border-radius: 50%;
  }

  .information__title {
    margin: 13px 0 2px 0;
    width: 260px;
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
  }

  .information__title p {
    margin: 0;
    padding: 0;
  }

  .information__author {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 0 2px 0;
    width: 260px;
    height: 14px;

    p {
      margin: 0;
      padding: 0;
      font-size: 12px;
      color: #757575;
    }
  }

  .information {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 260px;
    height: 14px;
  }

  .information span {
    margin: 0 2px 0 0;
    padding: 0;
    font-size: 12px;
    line-height: 14px;
    color: #757575;
  }
}

.article:hover {
  background-color: #b4b4b459;
}

@include mobile {
  .articles__title-box {
    margin-bottom: 2rem;
    h3 {
      margin: 0;
      font-size: 20px;
    }
    p {
      margin: 0;
      font-size: 14px;
    }
  }

  .article__image-box {
    width: 100w;
    height: 100vh;

    img {
      width: 100%;
    }
  }
}
