@import '../../../css/_mixin.scss';

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 3rem;
  max-width: 1256px;
  margin-top: 2rem;

  a {
    position: relative;
    margin-right: 2rem;
    border-radius: 1rem;
    height: 508px;
    width: 920px;
    overflow: hidden;
  }

  img {
    border-radius: 1rem;
    box-shadow: 10px -1px 34px -139px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px -1px 34px -139px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px -1px 34px -139px rgba(0, 0, 0, 0.75);
    transition: 1s all;
  }

  img:hover {
    transform: scale(1.1);
  }

  .main__image-description {
    position: absolute;
    bottom: 0px;
    padding: 30px;
    width: 920px;
    height: 150px;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    background-color: #2f2f2fb4;
    color: #fff;

    div {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    strong {
      font-size: 40px;
    }

    img {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      margin: 1rem;
    }
  }
}

@include mobile {
  .home__image-box {
    display: none !important;
  }
}
