.title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.swiper {
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 10px -1px 34px -139px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px -1px 34px -139px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px -1px 34px -139px rgba(0, 0, 0, 0.75);
    margin: 0;
    width: 100% !important;
}

.swiper-slide {
    font-size: 18px;
    background: #fff;
}

.swiper-slide img {
    display: block;
    object-fit: cover;
    width: 167.5px !important;
    height: 167.5px !important;
    object-fit: cover;
    border-radius: 4px !important;
}

.swiper-button-prev,
.swiper-button-next {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #fff;
    color: #333;
    font-size: 10px;
    box-shadow: -4px 4px 44px -9px rgba(0, 0, 0, 0.51);
    -webkit-box-shadow: -4px 4px 44px -9px rgba(0, 0, 0, 0.51);
    -moz-box-shadow: -4px 4px 44px -9px rgba(0, 0, 0, 0.51);
    transition: 1s all;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 20px;
}

.category {
    position: absolute;
    bottom: 0;
    z-index: 10;
    border-radius: 5px;
    background-color: #111;
    color: #fff;
    padding: 5px 10px;
}
