.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .form__image-box {
    img {
      width: 90px;
      height: 90px;
      border-radius: 50%;
    }

    button {
      border: none;
      background-color: #fff;
      color: #828c94;
    }
  }
  .input-box {
    width: 340px;
    height: 66px;
    margin-bottom: 24px;

    input {
      width: 340px;
      height: 40px;
    }
  }

  hr {
    margin: 48px 0;
    width: 100%;
  }

  .nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 340px;

    a {
      color: #828c94;
    }
  }
}
