.comment {
  position: relative;
  width: 100%;
  height: 50px;
}

.comment textarea {
  width: 100%;
  height: 50px;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  resize: none;
  padding: 10px;
  overflow: hidden;
}

.comment button {
  position: absolute;
  background-color: initial;
  border: none;
  height: 40px;
  top: 10%;
  right: 0;
}

.link {
  position: absolute;
  width: 100%;
  height: 50px;
  left: 0;
  z-index: 10;
}
