.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 79px;
  margin-bottom: 50px;
  padding: 25px 50px 25px 50px;
  border-bottom: 1px solid #424242;

  .header__button-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 284px;
    height: 45px;
  }

  .header__button-box button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px 0 5px;
    padding: 11px 5px 5px 12px;
    width: 132px;
    height: 45px;
    font-style: 15px;
  }

  .header__button-box button:first-child {
    background-color: #fff;
    border: 1px solid #35c5f0;
    color: #35c5f0;
  }
}
