.container {
    display: flex;
    flex-direction: column;
    max-width: 1256px;
}

.container select {
    width: 70px;
    height: 35px;
    padding: 5px;
    margin: 0 0 25px 60px;
    background-color: #f7f9fa;
    border: 1px solid #f7f9fa;
    border-radius: 4px;
    font-size: 15px;
    line-height: 24px;
    color: #828c94;
}

.container span {
    margin: 0 60px;
}

@media (max-width: 768px) {
    .container select {
        margin-top: 1rem;
    }
}
