.house-photo {
  display: flex;
  flex-direction: column;
  max-width: 1256px;

  select {
    width: 70px;
    padding: 5px;
    margin: 0 60px;
  }

  .card-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0;
    max-width: 1256px;
    list-style: none;
    gap: 0;
  }
}
