.section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 2rem;
    max-width: 1256px;
    margin-top: 2rem;
    padding: 0 60px;
}

@media (max-width: 768px) {
    .section {
        padding: 10px;
    }

    .main {
        width: 100vw;
        overflow: hidden;
    }
}
