.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 928px;

  header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 147px;
    height: 50px;
    padding: 40px 0 40px 0;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .form__input-box {
      padding: 14px 15px 14px 15px;
    }

    input {
      padding: 14px 15px;
      border: 1px solid #b6b7b7;
      border-radius: 5px;
      width: 300px;
      height: 49px;
    }

    button {
      width: 300px;
      height: 52px;
      margin: 20px 0 20px 0;
    }
  }

  .form__link-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 15px;
    margin-bottom: 15px;

    a {
      margin: 1rem;
    }
  }
}
