.housewarming-party-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;

  .card__image {
    width: 365px;
    height: 240;
    overflow: hidden;
    img {
      border-radius: 4px;
      transition: 1.5s all;
    }

    img:hover {
      transform: scale(1.1);
    }
  }

  .card__description-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: inherit;
    font-size: 16px;
    text-overflow: ellipsis !important;

    h3 {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      font-size: 16px;
      line-height: 20px;
      font-weight: 700;
    }

    .card__profile {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 8px;
      height: 18px;

      width: 329px;

      strong {
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
      }

      img {
        margin: 0.3rem;
        border-radius: 5px;
        width: 18px;
        height: 18px;
        border-radius: 50%;
      }
    }

    .card__counter-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 8px;
      color: #828c94;
      font-size: 14px;
      font-weight: 400;

      span {
        margin: 0;
      }

      .circle {
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background-color: #828c94;
        margin: 8px;
      }
    }
  }
}
