.hashtags {
    display: flex;
}

.hashtags li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 5px;
    height: 25px;
    border-radius: 5px;
    list-style: none;
}

.hashtags button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    border: none;
    width: 100%;
    height: 40px;
    background-color: #35c5f0;
    color: #fff;
    border-radius: 5px;
}

.input {
    width: 150px;
}

@media (max-width: 768px) {
    .section {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .input {
        padding: 0;
        width: 250px;
        margin-bottom: 1rem;
    }
}
