@import '../../../css/_mixin.scss';

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 50;
  border-bottom: 1px solid #c1c1c1;
  height: 79px;
  width: 100vw;

  .hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    border: none;
    background-color: #ffffff00;
  }

  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1220.99px;
    nav a {
      margin: 1rem;
    }

    section {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .header__profile-box {
      position: relative;

      .header__profile {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        margin: 1rem;
        padding: 0;
        border-radius: 50%;
        transition: 1.5s all;

        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      .header__profile:hover {
        border: 2.5px solid #34c5ef;
      }

      .isDisplay {
        display: none;
      }

      .header__profile-dropdown {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 60px;
        left: -80px;
        padding: 8px;
        border: 1px solid #7d7d7da6;
        width: 202px;
        height: 294.773px;
        border-radius: 10px;
        background: #fff;
        box-shadow: 10px -1px 34px -139px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 10px -1px 34px -139px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 10px -1px 34px -139px rgba(0, 0, 0, 0.75);
        z-index: 5;
        animation: dropdown 0.5s ease-in-out;

        a {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          width: 184px;
          height: 42px;
          transition: 1s all;
          padding: 10px 14px 11px 14px;
          font-size: 15px;
        }

        a:hover {
          background: #f6f9fa;
        }
      }
    }

    section button {
      padding: 0 15px 0 15px;
      width: 92px;
      height: 40px;
    }
  }
}

@include mobile {
  .header__container {
    display: flex;
    justify-content: center !important;
    align-items: center;
    width: 100vw;
  }

  .container__section {
    display: none !important;
  }

  .hamburger {
    display: flex !important;
    width: 24px;
    height: 24px;
    background-color: #ffffff00;
  }
}

@keyframes dropdown {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
