.header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 50;
    border-bottom: 1px solid #eaedef;
    height: 85px;
    width: 100vw;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1256px;
    padding: 0 60px;
    margin-top: 1rem;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    color: #2f3438;
    line-height: 18px;
    width: 150px;
    margin: 0 20px 0 76px;
}

.section .nav a:first-child {
    margin-right: 10px;
}

@media (max-width: 768px) {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
}
