@import "../../../css/_mixin.scss";

.main-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-bottom: 40px;
  border-bottom: 1px solid #eaedef;
  width: 100vw;
  height: 50px;

  .nav__container {
    width: 1256px;
    padding: 0 60px;

    a {
      margin: 0 1rem 0 0;
      padding: 10px 10px 10px 10px;
      width: 43px;
      height: 32px;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      color: #2f3438;
    }

    .select {
      color: #35c5f0;
      border-bottom: 3px solid #35c5f0;
    }
  }
}

@include mobile {
  .main-nav {
    margin-bottom: 0 !important;

    .nav__container {
      padding: 0 32px 0 16px;
      font-size: 14px;
      height: 40px;
    }
  }
}
