.user-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  border-bottom: 1px solid #eaedef;
  width: 100vw;
  height: 60px;

  a {
    margin: 0 1rem;
    padding: 10px;
  }

  .select {
    color: #35c5f0;
    border-bottom: 3px solid #35c5f0;
  }
}
